
.icon-society:before { content: '\e800'; } /* '' */
.icon-science:before { content: '\e801'; } /* '' */
.icon-imagery:before { content: '\e802'; } /* '' */
.icon-legal:before { content: '\e803'; } /* '' */
.icon-infrastructure:before { content: '\e804'; } /* '' */
.icon-environment:before { content: '\e805'; } /* '' */
.icon-emergency:before { content: '\e806'; } /* '' */
.icon-economy:before { content: '\e807'; } /* '' */
.icon-administration:before { content: '\e808'; } /* '' */